In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/Documents/ml projects/PROJECT 1/datasets/PS_.csv')

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [5]:
df['type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6362620 entries, 0 to 6362619
Series name: type
Non-Null Count    Dtype
--------------    -----
6362620 non-null  object
dtypes: object(1)
memory usage: 48.5+ MB

In [6]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
df['type_encoded'] = le.fit_transform(df['type'])

In [10]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_encoded
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,3
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,3
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,4
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,3

In [11]:
df['type_encoded'].unique()

array([3, 4, 1, 2, 0])

In [12]:
df['nameOrig'].unique()

array(['C1231006815', 'C1666544295', 'C1305486145', ..., 'C1162922333',
       'C1685995037', 'C1280323807'], shape=(6353307,), dtype=object)

In [13]:
df_1 = df.drop(['type','nameOrig','nameDest'],axis = 'columns')

In [14]:
df_1.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_encoded
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,0,3
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,0,3
2,1,181.00,181.0,0.00,0.0,0.0,1,0,4
3,1,181.00,181.0,0.00,21182.0,0.0,1,0,1
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,0,3

In [15]:
df_1['step'].value_counts()

step
19     51352
18     49579
187    49083
235    47491
307    46968
       ...
706        4
721        4
693        4
112        2
662        2
Name: count, Length: 743, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df_1.drop(['isFraud'],axis = 'columns')
y = df_1['isFraud']

In [18]:
X.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,type_encoded
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,3
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,3
2,1,181.00,181.0,0.00,0.0,0.0,0,4
3,1,181.00,181.0,0.00,21182.0,0.0,0,1
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,3

In [19]:
y.head()

0    0
1    0
2    1
3    1
4    0
Name: isFraud, dtype: int64

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [21]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((5090096, 8), (1272524, 8), (5090096,), (1272524,))